.App {
  text-align: center;
  background-color: black;
}
.App h1{
  color: chartreuse;
}
.form input{
  width: 60%;
  height: 30px;
  border-radius: 5px;
  border-color: chartreuse;
  background-color: darkslategray;
}
.form button{
  width: 30%;
  height: 30px;
  border-radius: 5px;
  border-color:chartreuse;
  background-color: chartreuse;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
}